
<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<title>My Story</title>
	<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1"/>

	<link rel="stylesheet" type="text/css" href="{% static 'css/default.css' %}">
	<link id="theme-style" rel="stylesheet" type="text/css" href="">
	<link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&family=Russo+One&display=swap" rel="stylesheet">
	
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet">  
	<script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.12/typed.min.js"></script>
	
	
</head>
<body>
	{% include 'base/navbar.html' %}
			{% comment %} section 1 {% endcomment %}

	
	

	<section class="s1">
		
		<div class="contains-video">
		
	 	<div class="overlay"></div>
		<video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
		<source src="{% static 'images/file.mp4' %}" type="video/mp4">
	</video>
			<div id="theme-options-wrapper">
			<div data-mode="light" id="light-mode" class="theme-dot"></div>
			<div data-mode="blue" id="blue-mode" class="theme-dot"></div>
			<div data-mode="green" id="green-mode" class="theme-dot"></div>
			<div data-mode="purple" id="purple-mode" class="theme-dot"></div>
			</div>

			<div class="container h-100" style="padding: 0px">
				<div class="d-flex h-100 text-center align-items-center">
				<div class="w-100 text-white wel-come">
					<h1 class="text-Wellcome  text-uppercase" >WelCome To !</h1>
					<p class="text-with  lead mb-0 "><span style="font-size: 23px; color: white;" class="typing"></span></p>
					<div class="Header-moblie">
						<h1 class ="text-mobile">HONG</h1>
						<h1 class ="text-mobile">&</h1>
						<h1 class ="text-mobile">HUNG</h1>
						<h4 class ="text-mobile">{{Date.now}}</h4>
						<h2 class ="text-mobile">{{Date.number_day}}</h2>
					</div>
					
				</div>
				</div>
			</div>
		</div>


	<section class= "container-fluid d-flex justify-content-center w-75">
		<div class="author-post  row " style="padding: 30px 30px 30px 30px;">
			<div class =" d-flex  align-items-between w-50">
				<div class="d-flex justify-content-center">
					{% comment %} <img class="author-image" src="{{aboutme.image_author.url}}"/> {% endcomment %}
					<img class="author-image" src="{% static 'images/author/gittar.jpg' %}"/>
				</div>
			</div>
			<div class =" w-50 d-flex row justify-content-center  align-items-center" style="padding-left: 30px;">
				<div class="d-flex align-items-center  flex-column">
					<div class="header-author-post">Author</div>
					<h2 class="name-author-post">Đỗ Thị Hồng</h2>
					<div class="content-author-post">{{aboutme.maxim}}</div>
					<hr style="width: 75%">
					<!-- <div class="comment-feature-post">0 comment</div> -->
				</div>
			</div>
		</div>
	</section>
	
	</section>


	<section id='About'  class="s2">
		<div class="main-container">

			<div class="about-wrapper">
				<div class="about-me">
					<h4>MORE ABOUT ME</h4>

					<p>{{aboutme.more_about_me_1}}</p>

					<p>{{aboutme.more_about_me_2}}</p>


					<hr>

					<h4>HOBBY</h4>

					<p>{{aboutme.headline_favorite}}</p>
					

					<div id="skills_about">
						<ul>
							{% for favorite in aboutme.favorites.all %}
								<li>{{favorite}}</li>
							{% endfor %}
							
						</ul>

						<ul>
							{% for song in aboutme.songs.all %}
								<li>{{song}}</li>
							{% endfor %}
						</ul>

					</div>

				</div>

				
				<div class="container-slide">
					<div id="slides" class="carousel slide" data-ride="carousel">
						<ul class="carousel-indicators">
							<li data-target="#slides" data-slide-to="0" class="active"></li>
							{% comment %} {% for item in Images %}
								<li data-target="#slides" data-slide-to="{{item.title}}"></li>
							{% endfor %} {% endcomment %}
							<li data-target="#slides" data-slide-to="1"></li>
							<li data-target="#slides" data-slide-to="2"></li>
							<li data-target="#slides" data-slide-to="3"></li>
							<li data-target="#slides" data-slide-to="4"></li>
							<li data-target="#slides" data-slide-to="5"></li>
							<li data-target="#slides" data-slide-to="6"></li>
						</ul>
						<div class="carousel-inner">
							<div class="carousel-item active">
								<img src="{% static 'images/slides/IMG_4723_nesG0X7.jpg' %}">
							</div>

							<div class="carousel-item">
								<img src="{% static 'images/slides/IMG_4723_4KeLKbZ.jpg' %}">
							</div>

							<div class="carousel-item">
								<img src="{% static 'images/slides/IMG_4730_3NU6LH9.jpg' %}">
							</div>

							<div class="carousel-item">
								<img src="{% static 'images/slides/Group.jpg' %}">
							</div>

							<div class="carousel-item">
								<img src="{% static 'images/slides/IMG_4681_wGiogye.jpg' %}">
							</div>
							
							{% comment %} {% for item in Images %}
								<div class="carousel-item">
								<img src="{{item.image.url}}">
								</div>
							{% endfor %} {% endcomment %}
						</div>
					</div>
					<h3>Contact Me Gmail & Facebook</h3>

					<a target="_blank" href="https://mail.google.com/mail">Gmail: Dohong***@gmail.com</a>
					<br>
					<a target="_blank" href="https://www.facebook.com">Facebook: Đỗ Hồng</a>
				</div>
			</div>

		</div>
	</section>

	<section class="s1">
		<div class="main-container">
			<h3 style="text-align: center; margin-top : 20px;">Some of my story</h3>

			<div class="post-wrapper">
				{% for post in posts %}
				<div>
					<div class="post">
						<img class="thumbnail" src="{{post.thumbnail.url}}">
						<div style="padding : 12px">
							<h6 class="post-title">{{post.headline}}</h6>
							<p class="post-intro">{{post.sub_headline}}</p>
							<a href="{% url 'post' post.slug %}">Read More</a>

							<hr>
							{% for tag in post.tags.all %}
								<span class="tag">{{tag}}</span>
							{% endfor %}
							<hr>
							<div class="w-75 d-flex  justify-content-start">

							{% comment %} tes/ {% endcomment %}
							{% if user.is_authenticated %}
							<form action="{% url 'postLikeIndex' post.slug %}" method="POST">
								{% csrf_token %}

								{% if user in post.likes.all %}
								<button type="submit" name="post.slug" value="{{post.slug}}"  style="background:none;border : none;"><i class="fas fa-heart " style="color:red;"></i></button>
								{% else %}
								<button type="submit" name="post.slug" value="{{post.slug}}" style="background:none;border : none;"><i class="far fa-heart" ></i></button>
								{% endif %}
							</form>
							{% else %}
							<button type="submit" name="post.slug" value="{{post.slug}}" style="background:none;border : none;"> <a  href="{% url 'login' %}?next={{request.path}}"><i class="far fa-heart" ></i></a></button>
							{% endif %}
							{% comment %} <strong class="text-secondary">{{ number_of_likes }} Like{{ number_of_likes|pluralize }}</strong> {% endcomment %}
							{% comment %} test {% endcomment %}
							
							{% comment %} <i class="far fa-heart" ></i> {% endcomment %}
							<div style="margin:0px 20px 0 0px;">{{post.likes.all.count}}</div>
							<a style="text-decoration: none;margin-right: 2px;"  href="{% url 'post' post.slug %}"><i class="far fa-comments"></i></a>
							<div >{{post.postcomment_set.all.count}}</div>
							
              			</div>
						</div>
					</div>
				</div>
				{% empty %}
					<h3>No posts found...</h3>
				{% endfor %}
			</div>

			<p align="center">
				<a href="{% url 'posts' %}">View More</a>
			</p>
		</div>
	</section>

<section class="skills s2" id="skills">
        <div class="max-width">
            <h2 class="title">My skills</h2>
            <div class="skills-content">
                <div class="column left">
                    <div class="text">My skills & experiences.</div>
                    <p>Về kiến thức, mình hiện đang là sinh viên năm hai, chuyên ngành ngôn ngữ Trung và trình độ hiện tại của mình là HSK5. Kĩ năng giao tiếp bằng tiếng trung ở mức khá, biết một chút tiếng anh. </p>
					<p>Ngoài ra, mình còn biết về  về âm nhạc và hội họa. Kinh nghiệm về chuyên ngành của mình chủ yếu từ các hoạt động, dự án về dịch thuật. Sắp tới mình dự định sẽ tìm một vài công việc liên quan đến chuyên ngành để nâng cao khả năng của bản thân.</p>
							
                </div>
                <div class="column right">
                    <div class="bars">
                        <div class="info">
                            <span>Tiếng Trung</span>
                            <span>90%</span>
                        </div>
                        <div class="line html"></div>
                    </div>
                    <div class="bars">
                        <div class="info">
                            <span>Hội Họa</span>
                            <span>60%</span>
                        </div>
                        <div class="line css"></div>
                    </div>
                    <div class="bars">
                        <div class="info">
                            <span>Tiếng Anh</span>
                            <span>80%</span>
                        </div>
                        <div class="line js"></div>
                    </div>
                    <div class="bars">
                        <div class="info">
                            <span>Kĩ Năng Mềm</span>
                            <span>50%</span>
                        </div>
                        <div class="line php"></div>
                    </div>
                    <div class="bars">
                        <div class="info">
                            <span>Ca Hát</span>
                            <span>70%</span>
                        </div>
                        <div class="line mysql"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>



<section  class="s1">
<h3 style="text-align: center; margin : 15px 0px 5px 0px">Music & SomeThing</h3>
	<div id = "Music">
	<div class="max-width music_responsive">
		<div class="col-sm music_text_responsive">
      <p>Cuộc đời mỗi người đàn ông sẽ tồn tại ít nhất hai cô gái quan trọng. Một người là Bạch Nguyệt Quang ( hay còn gọi là ánh trăng ngà), là người họ đem lòng mến mộ thuở thiếu thời. Người còn lại được gọi là Vết Chu Sa (nốt ruồi son), là người họ muốn cưới về làm vợ, bên nhau đến đầu bạc răng long. Bạch Nguyệt Quang chính là niềm khát khao trong lòng nhưng lại không thể khắc lên thân thể.</p>
	  <p>Còn vết chu sa, một khi đã ngự trị trên thân thể thì không thể nào quên đi.
Bạch Nguyệt Quang là sự tốt đẹp không thể nào chạm vào, còn Vết Chu Sa là nỗi đau không thể nào ôm lấy. Một người là yêu mà không có được, một người là có được rồi lại không biết trân quý.
</p>
    </div>
    <div class="col-sm col-lg ">
      <div class="player">
						<div id="app-cover">
							<div id="bg-artwork"></div>
							<div id="bg-layer"></div>
							<div id="player">
								<div id="player-track">
									<div id="album-name"></div>
									<div id="track-name"></div>
									<div id="track-time">
										<div id="current-time"></div>
										<div id="track-length"></div>
									</div>
									<div id="s-area">
										<div id="ins-time"></div>
										<div id="s-hover"></div>
										<div id="seek-bar"></div>
									</div>
								</div>
								<div id="player-content">
									<div id="album-art">
										<img src="{% static '/images/x.jpg' %}" class="active" id="_1">
										<img src="{% static '/images/x.jpg' %}" id="_2">
										<img src="{% static '/images/x.jpg' %}" id="_3">
										<img src="{% static '/images/x.jpg' %}" id="_4">
										<img src="{% static '/images/x.jpg' %}" id="_5">
										<img src="{% static '/images/x.jpg' %}" id="_6">
										<div id="buffer-box">Buffering ...</div>
									</div>
									<div id="player-controls">
										<div class="control">
											<div class="button" id="play-previous">
												<i class="fas fa-backward"></i>
											</div>
										</div>
										<div class="control">
											<div class="button" id="play-pause-button">
												<i class="fas fa-play"></i>
											</div>
										</div>
										<div class="control">
											<div class="button" id="play-next">
												<i class="fas fa-forward"></i>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
    </div>
	</div>
	</div>

</section> 


<section id= "Contact" class="s2">
	<div class="main-container">
		<h3 style="text-align: center; margin : 15px 0px 10px 0px">Contact Me</h3>

		<form id="contact-form" method ="POST" action="{% url 'send_email'  %}">
			{% csrf_token %}
			<a name="contact"></a>

			<label>Name</label>
			<input class="input-field" type="text" name="name">

			<label>Subject</label>
			<input class="input-field" type="text" name="subject">

			<label>Email</label>
			<input class="input-field" type="text" name="email">

			<label>Message</label>
			<textarea class="input-field" name="message"></textarea>

			<input id="submit-btn" type="submit" value="Send">
		</form>
	</div>
</section> 
{% comment %} <body onmousemove=/HideMenu()/ oncontextmenu="return false" ondragstart="return false" onselectstart ="return false" onselect="document.selection.empty()" oncopy="document.selection.empty()" onbeforecopy="return false" onmouseup="document.selection.empty()"> {% endcomment %}
	


	<script type="text/javascript">
		let static = "{% static 'css' %}"
	</script>

	<script type="text/javascript" src="{% static 'js/script.js' %}"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script> 
	<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"/>
	<script type="text/javascript" src="{% static 'js/jsmusic.js' %}"></script>
	{% comment %} <script type="text/javascript" src="{% static 'js/main.js' %}"></script> {% endcomment %}
</body>
</html>