
<nav class="navbar navbar-expand-md navbar-light sticky-top">
	<div class="container-fluid">
		<a class="navbar-branch" href="{% url 'home'  %}">
			<img src="" height="50">
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" 
			data-target="#navbarResponsive">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a class="nav-link active" href="{% url 'home'  %}">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'home'  %}#About">About</a>
				</li>
				
				<li class="nav-item">
					<a class="nav-link" href="{% url 'posts'  %}">Post</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'home'  %}#Contact">Contact</a>
				</li>
			</ul>

			<ul id="navigation">
				{% if request.user.is_authenticated %}
					<li  class="nav-item"><a href="{% url 'account' %}"> Account</a></li>
					<li  class="nav-item"><a href="{% url 'logout' %}">Logout</a></li>
				{% else %}
					<li  class="nav-item"><a href="{% url 'login' %}">Login</a></li>
				{% endif %}
			</ul>

		</div>
	</div>
</nav>

