:root{
	--mainColor:#233547;
	--secondaryColor:#213242;

	--borderColor:#164D56;

	--mainText:#fff;
	--secondaryText:#eeeeee;

	--themeDotBorder:#FFF;

	--previewBg:rgba(31, 51, 70, 0.8);
	--previewShadow:#1f3449;

	--navColor :  rgba(62, 207, 106, 0.8);
	--buttonColor:#17a2b8;
	--background-image :  linear-gradient(45deg, #2b1e1e 0%, #241b11 100%);
	--background-image2:  linear-gradient(45deg, #332a2a 0%, #3f3a38 100%);
	
}