:root{
	--mainColor: #ffd4a7;
	--secondaryColor:#c58371;
	--color-box-shadow : #da8973;
	--background-image-author :linear-gradient(45deg, #e98a8b 0%, #f39a9b 100%);
	
	--background-image-player : linear-gradient(45deg,#fff6e7 0%, #ffd4a7 100%);
	--borderColor: rgba(232,139,141,0.8);

	--mainText:rgb(245, 236, 236);
	--secondaryText:#4b5156;

	--themeDotBorder:#27323d;

	--previewBg:rgb(251, 249, 243, 0.8);
	--previewShadow:#f0ead6;
	--texe-size-with: 15px;
	--navColor :  linear-gradient(45deg,  #f5c088 0%, #f39a9b 100%);
	--buttonColor:rgba(232,139,141,0.8);
	--background-image :  linear-gradient(45deg, #ff9b9c 0%, #ffd4a7 100%);
	--background-image2:  linear-gradient(45deg, #ff9a9e 0%, #fad0c4 100%);
	
}


html, body{
	padding: 0;
	margin: 0;
	scroll-behavior: smooth;
}

body *{
	transition: 0.3s;
}


h1, h2, h3, h4, h5, h6 {
	color: black;
	font-family: 'Russo One', sans-serif !important;
	font-weight: 500;
}

p, li, span, label, input, textarea{
	color: var(--secondaryText);
	font-family: 'Roboto Mono', monospace !important;
}

a{
	text-decoration: none;
	color:#17a2b8;
}

ul{
	list-style: none;
}

h1 { font-size: 56px; }
h2 { font-size: 36px; }
h3 { font-size: 28px; }
h4 { font-size: 24px; }
h5 { font-size: 20px; }
h6 { font-size: 16px; }


.s1{
	
	border-bottom:1px solid var(--borderColor);
	background-image: var(--background-image2);
	overflow:auto;
	box-shadow: 0 2px 4px 0 var(--color-box-shadow);
}

.s2{
	
	border-bottom:1px solid var(--borderColor);
	overflow:auto;
	background-image: var(--background-image);
	box-shadow: 0 2px 4px 0 var(--color-box-shadow);
}




.main-container{
	width: 1200px;
	margin: 0 auto;
	
}


.greeting-wrapper{
	display: grid;
	text-align: center;
	align-content: center;
	min-height: 10em;

}

.intro-wrapper{
	background-color: var(--secondaryColor);
	border:1px solid var(--borderColor);
	border-radius:5px 5px 0 0;


	-webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);

	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: 
		'nav-wrapper nav-wrapper'
		'left-column right-column'
	;
}


.nav-wrapper{
	border-radius:5px 5px 0 0;
	grid-area:nav-wrapper;
	border-bottom: 1px solid var(--borderColor);
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--mainColor);
}

#navigation a{
	color:var(--mainText);
}


#navigation{
	margin:0;
	padding: 10px;
}

#navigation li{
	display: inline-block;
	margin-right: 5px;
	margin-left:5px;
}

.dots-wrapper{
	display: flex;
	padding: 10px;
}

#dot-1{
	background-color:  #FC6058;
}

#dot-2{
	background-color:  #FEC02F;
}

#dot-3{
	background-color:  #2ACA3E;
}

.browser-dot{
	background-color: black;
	height: 15px;
	width: 15px;
	border-radius: 50%;
	margin: 5px;

	-webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);

}


.left-column{
	grid-area: left-column;
	padding-top:50px;
	padding-bottom: 50px;
}



#theme-options-wrapper{
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
	z-index: 5;
	position: absolute;
}

.theme-dot{
	height: 30px;
	width: 30px;
	background-color: black;
	border-radius: 50%;

	margin: 5px;
	border:2px solid var(--themeDotBorder);

	-webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);

	cursor: pointer;
}


.theme-dot:hover{
	border-width: 5px;
}


#light-mode{
	background-color: #fff;
}

#blue-mode{
	background-color: #82baee;
}

#green-mode{
	background-color: aqua;
}

#purple-mode{
	background-color: #7E4C74;
}

#settings-note{
	font-size: 12px;
	font-style: italic;
	text-align: center;
}

.right-column{
	grid-area: right-column;
	display: grid;
	align-content: center;

	padding-top: 50px;
	padding-bottom: 50px;
}


#preview-shadow{
	background-color: var(--previewShadow);
	max-width: 300px;
	height: 180px;
	padding-left: 30px;
	padding-top: 30px;
}

#preview{
	width: 300px;
	border:1.5px solid #17a2b8;
	background-color: var(--previewBg);
	padding:15px;
	position: relative;
}

.corner{
	width:7px;
	height: 7px;
	border-radius: 50%;
	border:1.5px solid #17a2b8;
	background-color: #fff;
	position: absolute;
}

#corner-tl{
	top:-5px;
	left: -5px
}

#corner-tr{
	top:-5px;
	right: -5px
}


#corner-br{
	bottom:-5px;
	right: -5px
}


#corner-bl{
	bottom:-5px;
	left: -5px
}

.about-wrapper{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	padding-bottom: 50px;
	padding-top: 120px;
	gap:100px;
}
.typed-cursor {
    opacity: 1;
	color: white;
	font-size: 22px;
}

#skills_about{
	display: flex;
    justify-content: space-between;
    background-color: var(--previewShadow);
    border-radius: 8px;
    padding: 12px 30px 12px 0px;
	box-shadow: 0 1px 2px 0 var(--color-box-shadow);
}

.container-slide{
	display: grid;
	align-content: center;
	text-align: center;
}

#social_img{
	width: 100%;
}


.post-wrapper{
	display: grid;
	grid-template-columns: repeat(auto-fit, 320px);
	gap:20px;
	justify-content: center;
	padding-bottom: 50px;
}

.post{
	border:1px solid var(--borderColor);
	-webkit-box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75);
	-moz-box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75);
	box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75);
}

.thumbnail{
	display: block;
	width: 100%;
	height:200px;
	object-fit: cover;
}

.post-preview{
	background-color: #fff;
	padding:15px;
}

.post-title{
	color:black;
	margin: 0;
}

.post-intro{
	color:#4b5156;
	font-size: 13px;
	font-family: 'Roboto Mono', monospace !important;
}
.tag{
	display: inline-block;
	color: #fff;
	background-color: #888;
	border-radius: 5px;
	margin: 2px;
	padding: 2px 5px;
	font-size: 12px;
}

#contact-form{
	display: block;
	max-width: 600px;
	margin: 0 auto;
	border: 1px solid var(--borderColor);
	padding: 15px;
	border-radius: 5px;
	/* background-color: var(--mainColor); */
	margin-bottom: 50px;
	box-shadow: 0 4px 6px 0 var(--borderColor);

}

#contact-form label{
	line-height: 2.7em;
}

#contact-form textarea{
	min-height: 100px;
	font-size: 14px;
}


.input-field{
	width: 100%;
	padding-top: 10px;
	padding-bottom:10px; 
	background-color: var(--background-image);
	border-radius: 5px;
	border:1px solid var(--borderColor);
	font-size: 14px;
}


#submit-btn{
	margin-top: 10px;
	width: 100%;
	padding-top: 10px;
	padding-bottom:10px; 
	color: #fff;
	background-color: var(--buttonColor);
	box-shadow: 0 2px 4px 0 var(--color-box-shadow);
	border:none;
}





@media screen and (max-width: 1200px){
	.main-container{
		width: 95%;
	}
}

@media screen and (max-width: 800px){
	.intro-wrapper{
		grid-template-columns: 1fr;
		grid-template-areas: 
			'nav-wrapper'
			'left-column'
			'right-column'
		;
	}

	.right-column{
		justify-content: center;
	}

}

@media screen and (max-width: 400px){
	#preview-shadow{
		max-width: 280px;
		height: 180px;
		padding-left: 10px;
		padding-top: 10px;
	}

	#preview{
		width: 280px;

	}

}


/* Login Page (START) */
#login-page-wrapper{
	background: #eaeaea;
	height: 125vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

#login-form-wrapper{
	width: 400px;
	background: #fff;
	padding: 20px;
	-webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
}
@media screen and (max-width: 400px){
	#login-form-wrapper{
		width: 95%;
	}
}
/* Login Page (END) */


@media screen and (max-width: 1200px){
.main-container{
	width: 95%;
}
}

@media screen and (max-width: 800px){
.intro-wrapper{
	grid-template-columns: 1fr;
	grid-template-areas: 
		'nav-wrapper'
		'left-column'
		'right-column'
	;
}

.right-column{
	justify-content: center;
}

}

@media screen and (max-width: 400px){
#preview-shadow{
	max-width: 280px;
	height: 180px;
	padding-left: 10px;
	padding-top: 10px;
}

#preview{
	width: 280px;

}

}


/* nav */
.navbar{
	background-image: var(--navColor) !important;
	box-shadow: 0 1px 1px 0 var(--color-box-shadow);

}
.navbar li a {
	color: white !important;
}
.navbar li a:hover{
	color: black !important;
}

/* nav */


/*dynamic*/
.carousel-inner{
	border-radius: 5px;
}
.carousel-inner img {
	width: 100%;
}
.carousel-caption {
	position: absolute;
	top: 40%;
}
.carousel-caption h1 {
	font-size: 400%;
	text-transform: uppercase;
	text-shadow: 5px 5px 15px #000;
}
.carousel-caption h3 {
	font-size: 200%;	
	text-shadow: 2px 2px 10px #000;
}
.btn-primary {
	background-image: var(--navColor);
	border: 1px solid white;
}
.btn-primary:hover {
	background-image:var(--background-image2);
	border: 1px solid white;
	box-shadow: 0 1px 1px 0 var(--color-box-shadow);
}
/*Media Query/////////////////////////////////////*/
@media (max-width: 992px){
	.carousel-caption {
		top: 20%;
	}
	.carousel-caption h1{
		font-size: 250%;
	}
	.carousel-caption h3{		
		font-size: 160%;		
	}
	.carousel-caption .btn{		
		font-size: 120%;		
	}

	.author-post{
	background-image: var(--background-image-author);
	box-shadow: 0 7px 10px 0 var(--color-box-shadow);
	position: absolute;
	height: 300px !important;
	/*top: 50%;*/
  	left: 50%;
  	width: 70%!important;
  	z-index: 2 !important;
	-ms-transform: translate(-50%, -50%);
  	transform: translate(-48%, -71%)!important;
	font-family: 'Russo One', sans-serif !important;
	border-radius: 10px;

}

.content-author-post{
	font-size: 15px !important;
	overflow: hidden;
	text-overflow: ellipsis;
}
.name-author-post{
	font-size: 27px !important;
	color:black;
}
.comment-feature-post{
	font-size: 10px;
}
.header-author-post{
	font-size: 10px!important;
	font-style: italic;
}

.Header-moblie{
	display: none!important;
}
.text-Wellcome{
	/*top: 20%;*/
	font-size: 27px !important;
	align-items: center !important;
	position: absolute !important;
	left: 50% !important;
	transform: translate(-50%, -91%)!important;
	color: var(--secondaryColor);
	text-shadow: 0px 2px 2px 0 var(--secondaryColor);
}
.text-with{
	font-size: var(--texe-size-with) !important;
	align-items: center !important;
	position: absolute !important;
	left: 50% !important;
	/*top :50%;*/
	transform: translate(-50%, 110%)!important;
	color: white;
}
.author-image{
	object-fit: cover;
	width: 100% !important;
	height: 240px !important;
	border-radius: 5px;
}
}


@media (max-width: 768px){	
	.carousel-caption {
		top: 20%;
	}
	.carousel-caption h1{
		font-size: 220%;
	}
	.carousel-caption h3{		
		font-size: 140%;
		padding-bottom: 0.2rem;
	}
	.carousel-caption .btn{		
		font-size: 95%;
		padding: 8px 14px;
	}
	.author-post{
	background-image: var(--background-image-author);
	box-shadow: 0 7px 10px 0 var(--color-box-shadow);
	position: absolute;
	height: 220px ;
	/*top: 50%;*/
	width: 82%!important;
  	left: 50%;
  	z-index: 2 !important;
	-ms-transform: translate(-50%, -50%);
  	transform: translate(-48%, -72%)!important;
	font-family: 'Russo One', sans-serif !important;
	border-radius: 10px;
	
  }

.content-author-post{
	font-size: 12px !important;
	overflow: hidden ;
	text-overflow: ellipsis;
}
.name-author-post{
	font-size: 18px !important;
	color:black;
}
.comment-feature-post{
	font-size: 6px;
}
.container-grid {
	position: relative;
  padding: 0px !important;
  z-index: 0;
}
.header-author-post{
	font-size: 8px!important;
	font-style: italic;
}
.text-Wellcome{
	/*top: 20%;*/
	font-size: 27px !important;
	align-items: center !important;
	position: absolute !important;
	left: 50% !important;
	transform: translate(-50%, -91%)!important;
	color: var(--secondaryColor);
	text-shadow: 0px 2px 2px 0 var(--secondaryColor);
}
.text-with{
	font-size: 13px !important;
	align-items: center !important;
	position: absolute !important;
	left: 50% !important;
	/*top :50%;*/
	transform: translate(-50%, 110%)!important;
	color: white;
}

.Header-moblie{
	display: none!important;
}
.author-imager{
	object-fit: cover;
	width: 100% !important;
	height: 160px !important;
	border-radius: 5px;
}
}




/*//////////////////////////////////*/
@media (max-width: 576px){
	.carousel-caption {
		top: 10%;
	}
	.carousel-caption h1{
		font-size: 150%;
	}
	.carousel-caption h3{		
		font-size: 110%;		
	}
	.carousel-caption .btn {		
		font-size: 90%;
		padding: 4px 8px;
	}
	.author-post{
		display: none !important;
	
  	}	

.Header-moblie{
	display: block!important;
	align-items: center !important;
	position: absolute !important;
	left: 50% !important;
	transform: translate(-50%, -10%)!important;
}
.text-Wellcome{
	/*top: 20%;*/
	display: none!important;
	
}
.text-with{
	display: none!important;
	
}
.about-wrapper{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	padding-bottom: 50px;
	padding-top: 50px !important;
	gap:100px;
}
.author-image{
	object-fit: cover;
	width: 100% !important;
	height: 180px !important;
	border-radius: 5px;
}
}
/*video*/
.wel-come{

	font-family: 'Chango', cursive;
	 top: 30%;
	 position: absolute;
	 left: 50%;
	 text-shadow: 1px 1px 1px;
	 /*-ms-transform: translate(-50%, -50%);*/
  	transform: translate(-50%, -91%);
}
.contains-video {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
  z-index: 0;
}

video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-49%) translateY(-50%);
}



.container {
  position: relative;
  z-index: 2;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

/*cotanine-gird*/
.container-grid {
	position: relative;
  padding: 50px;
  z-index: 0;
}

@media (pointer: coarse) and (hover: none) {
  header {
  	z-index: 0;
    background: url('https://static.wixstatic.com/media/375882_9f1a8e8b364946f38b7eb05436e76503f000.jpg/v1/fill/w_980,h_891,al_c,q_85,usm_0.33_1.00_0.00/375882_9f1a8e8b364946f38b7eb05436e76503f000.webp') black no-repeat center center scroll;
  }
  header video {
    display: none;
    z-index: 0;
  }
}

.content1{
	background-color: aqua;
}
/*section*/
.section1, .section2, .section3 , .section3  , .section4, .section5 {
/*	min-height: 100vh;*/
	height: 500px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 10em;
	text-transform: uppercase;
	font-weight: 700;
	color: aqua;
	z-index: 0;
}

/*grid picture*/


.img-grid-views{
	margin: 0px;
	padding: 0px;
	height: 50%px;
	width:  auto;
}

.text-in-grid{
	overflow: hidden;
	text-overflow: ellipsis;
}

/*Featured-Post*/
.author-post{
	background-image: var(--background-image-author);
	box-shadow: 0 7px 10px 0 var(--color-box-shadow);
	position: absolute;
	height: 300px;
	/*top: 50%;*/
  	left: 50%;
  	width: 60%!important;
  	z-index: 2 !important;
	-ms-transform: translate(-50%, -50%);
  	transform: translate(-50%, -71%);
	font-family: 'Russo One', sans-serif !important;
	border-radius: 10px;
	
}

.author-image{
	object-fit: cover;
	width: 100% !important;
	height: 240px !important;
	object-position: top !important;
	border-radius: 5px;
	
}
.content-author-post{
	font-size: 16px;
	overflow: hidden;
	text-overflow: ellipsis;
}
.header-author-post{
	font-size: 12px;
	font-style: italic;
}
.name-author-post{
	font-size: 37px;
	color:black;
}
.comment-feature-post{
	font-size: 14px;
}
.Header-moblie{
	display: none;
}
.text-Wellcome{
	/*top: 20%;*/
	font-size: 45px ;
	align-items: center ;
	position: absolute ;
	left: 50% ;
	transform: translate(-50%, -91%);
	color: var(--secondaryColor);
	text-shadow: 0px 2px 2px 0 var(--secondaryColor);
}
.text-with{
	font-size: 23px ;
	align-items: center ;
	position: absolute ;
	left: 50% ;
	/*top :50%;*/
	transform: translate(-50%, 110%);
	color: white;
}

/* /////Music start*/
#Music{
	height: 400px;
    display: flex;
    padding: 17px;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    background-color: #f5e0e5;
    background-image: var(--background-image2);
    font-family: 'Roboto Mono', monospace !important;
}
.text_music{
	margin-top: 115px;
}
:focus
{
    outline: none;
} 



#app-cover
{
    position: absolute;
    top: 70%;
    right: 0;
    left: 0;
    width: 400px;
    height: 100px;
    margin: -4px auto;
	position: absolute;
	
	
	/* transform: translate(-50%, -50%); */
	
	
	border-radius: 15px;
	background-image: var(--background-image-player);
	box-shadow: 0 8px 10px 0 var(--borderColor);
}

#bg-artwork
{
	display: none;
    position: fixed;
    top: -30px;
    right: -30px;
    bottom: -30px;
    left: -30px;
	height: auto;
    background-image: url("https://raw.githubusercontent.com/himalayasingh/music-player-1/master/img/_1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    /* filter: blur(40px);
    -webkit-filter: blur(40px); */
    z-index: 1;
	border-radius: 15px !important;
}

#bg-layer
{
    /* position: fixed; */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #fff;
    opacity: 0.51;
    z-index: 2;
}
.player{
	position: relative;
	height: 200px;
}
#player
{
    position: relative;
    height: 100%;
    z-index: 3;
}

#player-track
{
    position: absolute;
    top: 0;
    right: 15px;
    left: 15px;
	height: 100px;
    padding: 13px 22px 10px 184px;
    background-color: #fff7f7;
    border-radius: 15px 15px 0 0;
    transition: 0.3s ease top;
    z-index: 1;
}

#player-track.active
{
    top: -100px;
}

#album-name
{
    color: #54576f;
    font-size: 17px;
    font-weight: bold;
}

#track-name
{
    color: #acaebd;
    font-size: 13px;
    margin: 2px 0 13px 0;
}

#track-time
{
    height: 12px;
    margin-bottom: 3px;
    overflow: hidden;
}

#current-time
{
    float: left;
}

#track-length
{
    float: right;
}

#current-time, #track-length
{
    color: transparent;
    font-size: 11px;
    background-color: #ffe8ee;
    border-radius: 10px;
    transition: 0.3s ease all;
}

#track-time.active #current-time, #track-time.active #track-length
{
    color: #f86d92;
    background-color: transparent;
}

#s-area, #seek-bar
{
    position: relative;
    height: 4px;
    border-radius: 4px;
}

#s-area
{
    background-color:#ffe8ee;
    cursor: pointer;
}

#ins-time
{
    position: absolute;
    top: -29px;
    color: #fff;
    font-size: 12px;
    white-space: pre;
    padding: 5px 6px;
    border-radius: 4px;
	display:none;
}

#s-hover
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    opacity: 0.2;
    z-index: 2;
}

#ins-time, #s-hover
{
    background-color: #3b3d50;
}

#seek-bar
{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 0;
    background-color: #fd6d94;
    transition: 0.2s ease width;
    z-index: 1;
}

#player-content
{
    position: relative;
    height: 100%;
    background-color: #fff;
    box-shadow: 0 30px 80px #656565;
    border-radius: 15px;
    z-index: 2;
}

#album-art
{
    position: absolute;
    top: -40px;
    width: 115px;
    height: 115px;
    margin-left: 40px;
    transform: rotateZ(0);
    transition: 0.3s ease all;
    box-shadow: 0 0 0 10px #fff;
    border-radius: 50%;
    overflow: hidden;
}

#album-art.active
{
    top: -60px;
    box-shadow: 0 0 0 4px #fff7f7, 0 30px 50px -15px #afb7c1;
}

#album-art:before
{
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    width: 20px;
    height: 20px;
    margin: -10px auto 0 auto;
    background-color: #d6dee7;
    border-radius: 50%;
    box-shadow: inset 0 0 0 2px #fff;
    z-index: 2;
}

#album-art img
{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: -1;
}

#album-art img.active
{
    opacity: 1;
    z-index: 1;
}

#album-art.active img.active
{
    z-index: 1;
    animation: rotateAlbumArt 3s linear 0s infinite forwards;
}

@keyframes rotateAlbumArt
{
    0%{ transform: rotateZ(0); }
    100%{ transform: rotateZ(360deg); }
}

#buffer-box
{
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    height: 13px;
    color: #1f1f1f;
    font-size: 13px;
    font-family: Helvetica;
    text-align: center;
    font-weight: bold;
    line-height: 1;
    padding: 6px;
    margin: -12px auto 0 auto;
    background-color: rgba(255, 255, 255, 0.19);
    opacity: 0;
    z-index: 2;
}

#album-art img, #buffer-box
{
    transition: 0.1s linear all;
}

#album-art.buffering img
{
    opacity: 0.25;
}

#album-art.buffering img.active
{
    opacity: 0.8;
    filter: blur(2px);
    -webkit-filter: blur(2px);
}

#album-art.buffering #buffer-box
{
    opacity: 1;
}

#player-controls
{
    width: 250px;
    height: 100%;
    margin: 0 5px 0 141px;
    float: right;
    overflow: hidden;
}

.control
{
    width: 33.333%;
    float: left;
    padding: 12px 0;
}

.button
{
    width: 26px;
    height: 26px;
    padding: 25px;
    background-color: #fff;
    border-radius: 6px;
    cursor: pointer;
}

.button i
{
    display: block;
    color: #d6dee7;
    font-size: 26px;
    text-align: center;
    line-height: 1;
}

.button, .button i
{
    transition: 0.2s ease all;
}

/* .button:hover
{
     background-color: #d6d6de; 
} */

.button:hover i
{
    color: red;
}

#ytd-url {
  display: block;
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 10px 14px;
  margin: 20px;
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  background-color: #ae5f87;
  border-radius: 4px;
  box-shadow: 0 10px 20px -5px rgba(174, 95, 135, 0.86);
  z-index: 125;
}

.text-mobile{
	color: var(--secondaryColor);
	text-shadow: 0px 2px 2px 0 var(--secondaryColor);
}

/* music end */

/* skill  */
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
 .skills, .teams{
	font-family: 'Roboto Mono', monospace !important;
}

.skills .skills-content{
    display: flex;
    flex-wrap: wrap;
	align-items: center;
    align-items: center;
    justify-content: space-between;
}
section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
	margin-top: 25px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}



.skills .skills-content .column{
    width: calc(50% - 30px);
	margin-bottom: 25px;
}
.skills .skills-content .left .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.skills .skills-content .left p{
    text-align: justify;
}
.skills .skills-content .left a{
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 16px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}
.skills .skills-content .left a:hover{
    color: crimson;
    background: none;
}
.skills .skills-content .right .bars{
    margin-bottom: 15px;
}
.skills .skills-content .right .info{
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
}
.skills .skills-content .right span{
    font-weight: 500;
    font-size: 18px;
}
.skills .skills-content .right .line{
    height: 5px;
    width: 100%;
    background: lightgrey;
    position: relative;
}
.skills .skills-content .right .line::before{
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: crimson;
}
.skills-content .right .html::before{
    width: 90%;
}
.skills-content .right .css::before{
    width: 60%;
}
.skills-content .right .js::before{
    width: 80%;
}
.skills-content .right .php::before{
    width: 50%;
}
.skills-content .right .mysql::before{
    width: 70%;
}
.music_responsive {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.music_text_responsive{
	font-size: 15px;
	font-family: 'Roboto Mono', monospace !important;
}
@media (max-width: 900px) {
	.music_responsive {
		-ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
	}
	.music_text_responsive{
		display: none;
	}
    .max-width{
        padding: 0 23px;
    }
	.skills .skills-content{
	
		align-items: center;
		justify-content: space-between;
	}
	.skills .skills-content .column{
		width: calc(100% - 10px) !important;
	}
	
	.player {
		position: relative;
		
	}
}
@media (max-width: 500px) {
	#app-cover {
		position: absolute;
		top: 40%;
		right: 0;
		left: 0;
		width: 285px !important;
		height: 85px;
		margin: -4px auto;
		position: absolute;
		/* transform: translate(-50%, -50%); */
		border-radius: 15px;
		background-image: var(--background-image-player);
		box-shadow: 0 8px 10px 0 var(--borderColor);
	}
	.max-width {
		padding: 0 10px;
	}
	#Music {
		position: relative;
		height: 450px;
		display: flex;
		padding: 0px;
		justify-content: space-around;
		align-items: center;
		box-sizing: border-box;
		background-color: #f5e0e5;
		background-image: var(--background-image2);
		font-family: 'Roboto Mono', monospace !important;
	}
	
	#album-art {
		position: absolute;
		top: -40px;
		width: 88px;
		height: 88px;
		margin-left: 40px;
		transform: rotateZ(0);
		transition: 0.3s ease all;
		box-shadow: 0 0 0 10px #fff;
		border-radius: 50%;
		overflow: hidden;
	}
	#player-controls {
		width: 180px;
		height: 100%;
		margin: -1px 5px 0 141px;
		float: right;
		overflow: hidden;
	}
	#player-content {
		position: relative;
		height: 120px;
		background-color: #fff;
		box-shadow: 0 30px 80px #656565;
		border-radius: 15px;
		z-index: 2;
	}
	#album-name {
		color: #54576f;
		font-size: 10px;
		font-weight: bold;
	}
	#track-name {
		color: #acaebd;
		font-size: 9px;
		margin: 2px 0 13px 0;
	}
}


