:root{
	--mainColor:#606B56;
	--secondaryColor:#515a48;

	--borderColor:#161914;

	--mainText:#fff;
	--secondaryText:#eeeeee;

	--themeDotBorder:#FFF;

	--previewBg:rgb(81, 90, 72, 0.8);
	--previewShadow:#2a2f25;

	--navColor :  rgba(62, 207, 106, 0.8);
	--buttonColor:#669966;
	--background-image :  linear-gradient(45deg, #9bffe9 0%, #a7fffb 100%);
	--background-image2:  linear-gradient(45deg, #9afffa 0%, #2ababe 100%);

}
