:root{
	--mainColor:#15d5db;
	--secondaryColor:#66e0f0;
	--color-box-shadow :#1b8b8f;
	--background-image-author :linear-gradient(45deg, #89f7fe 0%, #66a5ff 100%);

	--background-image-player : linear-gradient(45deg, #70ecf5 0%, #7bb0fa 100%);
	--borderColor :#14a6b9;

	--mainText:#fff;
	--secondaryText:#0c0b0b;

	--themeDotBorder:#FFF;

	--previewBg:rgb(81, 90, 72, 0.8);
	--previewShadow: #5ae9e2;
	--texe-size-with: 13px;
	--navColor :  linear-gradient(45deg, #66a5ff 0%, #34deeb 100%);
	--buttonColor:#08b5bb;
	--background-image :  linear-gradient(45deg, #6ae2eb 0%, #689be2 100%);
	--background-image2:  linear-gradient(45deg, #6b9add 0%, #68d1d8  100%);

}
