:root{
	--mainColor:#4a3453;
	--secondaryColor:#4d345a;

	--borderColor:#1d1520;

	--mainText:#fff;
	--secondaryText:#eeeeee;

	--themeDotBorder:#FFF;

	--previewBg:rgba(217, 185, 231, 0.8);
	--previewShadow:#2b202f;

	/* --navColor :  rgba(150, 62, 201, 0.8); */
	--buttonColor:#8534a3;

	--background-image :  linear-gradient(45deg, #ca7ddd 0%, #e982f7 100%);
	--background-image2:  linear-gradient(45deg, #d380c8 0%, #c056ca 100%);
}
